include layout
.header
    link(rel='stylesheet', href='/stylesheets/cards.css')
.card(style='width: 18rem;')
        img.card-img-top(src="/images/"+gamedata.name + ".png", alt=gamedata.name)
        .card-body
            p.card-text= gamedata.name
            p.card-text="Price: $" + gamedata.price
            p.card-text="Availability: " + gamedata.availability 
            p.card-text="Age Rating: " + gamedata.ageRating 
            p.card-text="Rating: " + gamedata.rating