include layout

.header
    link(rel='stylesheet', href='/stylesheets/cards.css')
form(method='post')
  input#ordered(type='checkbox', name='ordered', value='on')
  label(for='ordered') Order Games by Price
  br
  input(type='submit') 
.centering
    each game in games
        .card(style='width: 18rem;')
            img.card-img-top(src="/images/"+game.name + ".png", alt=game.name)
            .card-body
                a(href="/games/" + game._id)= game.name
                p.card-text="Price: $" + game.price
                p.card-text="Availability: " + game.availability 
                p.card-text="Age Rating: " + game.ageRating 
                p.card-text="Rating: " + game.rating
