.card 
        .card-block
            h4.name= gamedata.name
            p.ageRating= gamedata.ageRating
            p.rating= gamedata.rating
            p.availability= gamedata.availability
            p.price= gamedata.price